[access]
	inheritFrom = All-Projects
[project]
	description = Management repo for Jenkins Job Builder, builder scripts and management related to the CI configuration.
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/acumos-gerrit-ci-management-committers
	owner = group saml/lf-releng
